@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@100&family=Space+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container1 {
  min-height: 100vh;
  margin: 40px 0 0 77px;
}
#main-header {
  display: flex;
}

.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
}

.content1 {
  font-family: Inconsolata;
  font-weight: bold;
  font-size: 24px;
  color: black;
}
.content-detalis-container {
  display: flex;
  flex-direction: column;
}
.box1 {
  max-width: 586px;
}
.content2 {
  font-family: Space Mono;
  font-weight: bold;
  font-size: 64px;

  font-style: normal;
}
.box2 {
  max-width: 381px;
  padding-top: 36px;
}
.content3 {
  font-family: Space Mono;
  font-weight: regular;
  font-size: 24px;
  font-style: normal;
}
.box3 {
  padding-top: 64px;
}
.content4 {
  background-color: #333;
  color: white;
  padding: 24px 43px;
  font-size: 14px;
  font-family: Space Mono;
  font-weight: bold;
}
.img-detalis {
  /* width: 50%; */
  max-width: 500px;
}
.content5 {
  /* max-width: 500px; */
  width: 100%;
}

#main-footer {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 750px) {
  .container1 {
    margin: 20px 0 0 24px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content2 {
    font-size: 40px;
    justify-content: center;
  }
  .box2 {
    padding-top: 30px;
  }
  .content3 {
    font-size: 19px;
    justify-content: center;
  }

  .content5 {
    width: 90%;
  }
  #main-header {
    max-width: 100%;
  }
}
